.box-people {
	text-align: start;
	display: flex;
	flex-direction: row;
	&__box-image {
		width: 50px;
		height: 50px;
		display: inline-block;
		overflow: hidden;
		text-align: center;
		background-image: url('../images/no_ava.png');
		background-size: 100%;
		border: 1px solid #c5c5c5;
		box-sizing: border-box;
		&__item {
			max-width: 100%
		}
	}
	&__box-description {
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__title {
			display: flex;
			&__name {}
			&__icon {
				margin-left: 10px;
				display: flex;
			}
		}
		&__statistic {
			display: flex;
			&__icon {
				font-size: 18px;
				color: #b6b6b6;
			}
			&__number {
				margin-left: 10px;
			}
		}
	}
}