.button {
	padding: 8px 30px;
	font-size: 14px;
	line-height: 14px;
	margin: 6px 10px;
	display: inline-block;
	white-space: nowrap;
	border: none;
	cursor: pointer;
	outline: none;
	border: 1px solid #979797;
	&_table {
		color: #979797;
		background-color: #fff;
		border-radius: 0 0 5px 5px;
		border-top-style: dashed;
		margin-top: -1px;
		&:hover {
			background-color: #eee;
		}
	}
}
.box-botton {
	text-align: center;
}