.icon_follow {
	width: 14px;
	height: 14px;
	position: relative;
	color: #fff;
	overflow: hidden;
	border-radius: 50%;
	align-self: center;
	justify-content: center;
	font-size: 14px;
	display: flex;
	cursor: pointer;
	&_unfollow {
		background-color: #b6b6b6;
		&:before {
			content: '+';
			align-self: center;
		}
		&:hover {
			transition: .3s;
			width: auto;
			background-color: #a4c574;
			padding: 0 10px;
			border-radius: 10px;
			&:before {
				content: 'Follow';
			}
		}
	}
	&_follow {
		background-color: #a4c574;
		&:before {
			content: '\2714';
			align-self: center;
		}
		&:hover {
			transition: .3s;
			width: auto;
			background-color: #a94442;
			padding: 0 10px;
			border-radius: 10px;
			&:before {
				content: 'Unfollow';
			}
		}
	}
}