.table {
	table-layout: fixed;
	border: 1px solid #bfbfbf;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	&__head {
		&__line {
			background-color: #ecf0f3;
			border-bottom: 2px solid #d8d9da;
			&__item {
				padding: 5px 20px;
				text-align: right;
				font-size: 20px;
				font-weight: lighter;
				&_width {
					width: 300px;
				}
			}
		}
	}
	&__body {
		&__line {
			border-bottom: 1px solid #f1f1f1;
			&:nth-child(2n) {
				background-color: #fbfbfb;
			}
			&:last-child {
				border-bottom: none;
			}
			&__item {
				padding: 10px 20px;
				font-size: 16px;
				font-weight: bold;
				text-align: right;
			}
		}
	}
}